.mat-divider{
    border-top-width: 2px;
    border-color: #26394E;
}

.mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

.mat-list-item{
    color: #000000;
    font-size: 0.8rem;
    height: 44px;
    margin-bottom: 4px;
}

.mat-list-item:hover{
    background-color: #2c3344;
}

.mat-list-item-content{
    border-radius: 5px;
    margin: 0 8px;
}

.mat-item-list-content:hover{
    background: #97a2be;
}

.list-item-active{
    color: #f3f2f7;
    background: #2c3344;
}

.list-item-active:hover{
    background: #2c3344;
    background-color: #2c3344;
}

.mat-subheader{
    color: #000000;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.logo{
    text-align: center;
    padding: 2.6rem 1 rem;
}
