<mat-nav-list>
    <div class="logo py-4">
        <br>
        <span class="material-icons" style="color: #26394E; font-size: 100px;">groups</span>
        <!-- <h1 style="color: aliceblue; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Customer Dashboard</h1> -->
    </div>
    <br>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
    <br>
    <a mat-list-item routerLink="/main" routerLinkActive="list-item-active">
        <mat-icon>account_box</mat-icon> Customer Profile View
    </a>
    <a mat-list-item  routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Inquiry Data
    </a>
    <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>assessment</mat-icon> Sales Order Data
    </a>
    <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon> List of delivery
    </a>
    <a mat-list-item routerLink="/sign-up" routerLinkActive="list-item-active">
        <mat-icon>euro_symbol</mat-icon> Invoice Details
    </a>
    <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>description</mat-icon> Payments & Aging
    </a>
    <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>payment</mat-icon> Credit/Debit Memo
    </a>
    <a mat-list-item  routerLinkActive="list-item-active">
        <mat-icon>receipt</mat-icon> Overall Sales Data
    </a>
</mat-nav-list>
