

<div class="wrap">
    <div class="tile"> 
      <img src='https://cdn1.vectorstock.com/i/1000x1000/77/50/smiling-cartoon-woman-bank-worker-and-man-customer-vector-31017750.jpg0'/>
      <div class="text">
        
            <h1>Customer Portal</h1>

      <h2 class="animate-text">Functionalities of Sales and Distribution 
    (SD) and Finance (FI) module.</h2>
      <p class="animate-text">This portal is to be designed for maintaining the data of all the 
    customers carrying out business with the organization.
    <a mat-list-item routerLink="/customerportal"  routerLinkActive="list-item-active">Login</a></p>
      </div>
     </div>
    
    
    <div class="tile"> 
      <img src='https://img.freepik.com/free-vector/warehouse-staff-wearing-uniform-loading-parcel-box-checking-product-from-warehouse-delivery-logistic-storage-truck-transportation-industry-delivery-logistic-business-delivery_1150-60909.jpg?size=626&ext=jpg&ga=GA1.2.1338979808.1665245144&semt=sph'/>
      <div class="text">
            <h1>Vendor Portal</h1>

      <h2 class="animate-text">Functionalities of Material Management 
    (MM) and Finance (FI) module.</h2>
      <p class="animate-text">This portal is to be designed for maintaining the data of all the 
    vendors carrying out business with the organization.<a mat-list-item routerLink="/vendor-login"  routerLinkActive="list-item-active">Login</a></p>
    
      </div>
     </div>
      
      <div class="tile"> 
      <img src='https://previews.123rf.com/images/unitonevector/unitonevector1904/unitonevector190401641/123386268-professional-business-team-flat-color-illustration-men-in-formal-clothes-holding-suitcases-cartoon-c.jpg'/>
      <div class="text">
      <h1>Employee Portal</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
      <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
    </div>
      
      
