<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cards Hover2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>

<body>
  
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-user" aria-hidden="true" align="center"><br><h1 style="font-family:Georgia, serif ">Customer Portal</h1></i>
                        
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                      <button class="button button1"><a mat-list-item routerLink="/customerportal"  routerLinkActive="list-item-active">Login</a></button>
                    </h3>
                    <p>This portal is designed for maintaining the data of all the 
                      customers carrying out business with the organization.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-truck" aria-hidden="true" align="center"><br><h1 style="font-family:Georgia, serif ">Vendor Portal</h1></i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                      <button class="button button2"><a mat-list-item routerLink="/vendor-login"  routerLinkActive="list-item-active">Login</a></button>
                    </h3>
                    <p>This portal is designed for maintaining the data of all the 
                      vendors carrying out business with the organization.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true" align="center"><br><h1 style="font-family:Georgia, serif ">Employee Portal</h1></i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                      <button class="button button3"><a mat-list-item routerLink="/employee-login"  routerLinkActive="list-item-active">Login</a></button>
                    </h3>
                    <p>This portal is to be designed for providing info about the 
                      organization and employees, getting the pay slip as printable, leave balance and to request 
                      leave.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>