<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;">Credit Memo</p>
            <div class="bg"></div>
          </mat-toolbar>
          <button class="button-87" role="button" style="float: right;"><a (click)="downloadPdf()"> click to Download</a></button>
          <br>
          <br>
          <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Accounting Doc.No." style="float: right;" [(ngModel)]="BELNR" (ngModelChange)="Search()">
            </div>
          </div>
          <p class="smallText" style="float: left;">Credit Details Available:{{len}}</p>
          <!-- <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" required>
            </div>
          </div>
          <p class="smallText">Sales Order Available: 4</p>
          <p class="smallText" style="float: right;">Search:</p> -->
            
        <br>
  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container">
    <thead>
      <tr>
        <th><h1>Material Number</h1></th>
        <th><h1>Plant</h1></th>
        <th><h1>Quantity</h1></th>
        <th><h1>Base Unit Of Measure</h1></th>
        <th><h1>Accounting Document No.</h1></th>
        <th><h1>Fiscal Year</h1></th>
        <th><h1>Amount in Local Currency</h1></th>
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let obj of data">
        <td>{{obj.MATNR}}</td>
        <td>{{obj.WERKS}}</td>
        <td>{{obj.MENGE}}</td>
        <td>{{obj.MEINS}}</td>
        <td>{{obj.BELNR}}</td>
        <td>{{obj.GJAHR}}</td>
        <td>{{obj.DMBTR}}</td>
      </tr>
      
    </tbody>
  </table>
          
 </mat-drawer-content>
</mat-drawer-container>
