<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;"> List Of Deliveries</p>
            <div class="bg"></div>
          </mat-toolbar>
          <br>
          <!-- <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" required>
            </div>
          </div>
          <p class="smallText">Sales Order Available: 4</p>
          <p class="smallText" style="float: right;">Search:</p> -->
            
        <br>
  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container">
    <thead>
      <tr>
        <th><h1>Sales Document No.</h1></th>
        <th><h1>Entry time</h1></th>
        <th><h1>Record Created Date</h1></th>
        <th><h1>Sales Organization</h1></th>
        <th><h1>Delivery Type</h1></th>
        <th><h1>Delivery Date</h1></th>
        <th><h1>Time of Delivery</h1></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let obj of data">
        <td>{{obj.VBELN}}</td>
        <td>{{obj.ERZET}}</td>
        <td>{{obj.ERDAT}}</td>
        <td>{{obj.VKORG}}</td>
        <td>{{obj.LFART}}</td>
        <td>{{obj.LFDAT_V}}</td>
        <td>{{obj.LFUHR}}</td>
      </tr>
      
    </tbody>
  </table>
          
 </mat-drawer-content>
</mat-drawer-container>
