<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;">Inquiry Data</p>
            <div class="bg"></div>
          </mat-toolbar>
          <br>
          <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" required>
            </div>
          </div>
          <p class="smallText">Sales Order Available: 4</p>
          <p class="smallText" style="float: right;">Search:</p>
            
          <br>
          <br>
        <br>
  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container">
    <thead>
      <tr>
        <th><h1>Sales Document</h1></th>
        <th><h1>Created Date</h1></th>
        <th><h1>Created By</h1></th>
        <th><h1>Document Date</h1></th>
        <th><h1>Inquiry Valid From</h1></th>
        <th><h1>Inquiry Valid To</h1></th>
        <th><h1>Requested Delivery Date</h1></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Google</td>
        <td>9518</td>
        <td>6369</td>
        <td>01:32:50</td>
        <td>hello</td>
        <td>Jello</td>
        <td>yes</td>
      </tr>
      
    </tbody>
  </table>
          
 </mat-drawer-content>
</mat-drawer-container>
