<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;">Inquiry Data</p>
            <div class="bg"></div>
          </mat-toolbar>
          <button class="button-87" role="button" style="float: right;"><a (click)="downloadPdf()"> click to Download</a></button>
          <br>
          <br>
          <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" style="float: right;" [(ngModel)]="VBELN" (ngModelChange)="Search()">
            </div>
          </div>
          <p class="smallText" style="float: left;">Inquiry Data Available:{{len}}</p>
          
          <!-- HTML !-->



            
            
          <br>

  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container" id="table1">
    <thead>
      <tr>
        <th><h1>Sales Document</h1></th>
        <th><h1>Created Date</h1></th>
        <th><h1>Created By</h1></th>
        <th><h1>Document Date</h1></th>
        <th><h1>Inquiry Valid From</h1></th>
        <th><h1>Inquiry Valid To</h1></th>
        <th><h1>Requested Delivery Date</h1></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let obj of data">
        <td>{{obj.VBELN}}</td>
        <td>{{obj.ERDAT}}</td>
        <td>{{obj.ERNAM}}</td>
        <td>{{obj.AUDAT}}</td>
        <td>{{obj.ANGDT}}</td>
        <td>{{obj.BNDDT}}</td>
        <td>{{obj.VDATU}}</td>
      </tr>
      
    </tbody>
  </table>
  <br><br>
 </mat-drawer-content>
</mat-drawer-container>
