mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
  }
  
  ul-list{
    list-style: none;
  }
.icon{
  justify-content: flex-end;
}
  
 
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  .user {
    font-size: 14px;
  }
  mat-toolbar {
    background:beige	;

  }
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

.user-image-icon{
    height: 18px;
    font-size: 16px;
}

.mat-menu-content{
    width: 160px;
}
  
