<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;">Payments And Aging</p>
            <div class="bg"></div>
          </mat-toolbar>
          <button class="button-87" role="button" style="float: right;"><a (click)="downloadPdf()"> click to Download</a></button>
          <br>
          <br>
          <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" style="float: right;" [(ngModel)]="CUSTOMER" (ngModelChange)="Search()">
            </div>
          </div>
          <p class="smallText" style="float: left;">Payment Details Available:{{len}}</p>
          <!-- <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" required>
            </div>
          </div>
          <p class="smallText">Sales Order Available: 4</p>
          <p class="smallText" style="float: right;">Search:</p> -->
            
        <br>
  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container" id="table1">
    <thead>
      <tr>
        <th><h1>Customer</h1></th>
        <th><h1>Fiscal Year</h1></th>
        <th><h1>Posting Date</h1></th>
        <th><h1>Document Date</h1></th>
        <th><h1>Currency</h1></th>
        <th><h1>Reference Document No.</h1></th>
        <th><h1>Amount in local Currency</h1></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let obj of data">
        <td>{{obj.CUSTOMER}}</td>
        <td>{{obj.FISC_YEAR}}</td>
        <td>{{obj.PSTNG_DATE}}</td>
        <td>{{obj.DOC_DATE}}</td>
        <td>{{obj.CURRENCY}}</td>
        <td>{{obj.REF_DOC_NO}}</td>
        <td>{{obj.LC_AMOUNT}}</td>
      </tr>
      
    </tbody>
  </table>
          
 </mat-drawer-content>
</mat-drawer-container>
