<mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header></app-header>
        <mat-toolbar color = "primary">
          <p style="text-align: center;">Invoice Details</p>
            <div class="bg"></div>
          </mat-toolbar>
          <button class="button-87" role="button" style="float: right;"><a (click)="downloadPdf()"> click to Download</a></button>
          <br>
          <br>
          <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" style="float: right;" [(ngModel)]="BELNR" (ngModelChange)="Search()">
            </div>
          </div>
          <p class="smallText" style="float: left;">Invoice Details Available:{{len}}</p>
          <!-- <div class="search" style="float: right;">
            <div>
              <input type="text" placeholder="Search by Sales Document" required>
            </div>
          </div>
          <p class="smallText">Sales Order Available: 4</p>
          <p class="smallText" style="float: right;">Search:</p> -->
            
          <br>
  <!-- <h2>Inquiry Data Table</h2> -->
  <table class="container" id="table1">
    <thead>
      <tr>
        <th><h1>Accounting Document No.</h1></th>
        <th><h1>Fiscal Year</h1></th>
        <th><h1>Debit/Credit indicator</h1></th>
        <th><h1>Amount in Local Currency</h1></th>
        <th><h1>Amount in Document Currency</h1></th>
        <th><h1>Amount for Updating in General Ledger</h1></th>
        <th><h1>Assignment Number</h1></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let obj of data">
        <td>{{obj.BELNR}}</td>
        <td>{{obj.GJAHR}}</td>
        <td>{{obj.SHKZG}}</td>
        <td>{{obj.DMBTR}}</td>
        <td>{{obj.WRBTR}}</td>
        <td>{{obj.PSWBT}}</td>
        <td>{{obj.ZUONR}}</td>
      </tr>
    </tbody>
  </table>
          
 </mat-drawer-content>
</mat-drawer-container>

