<mat-toolbar color = "primary">
  Customer Portal
  <div class="bg"></div>

    <mat-icon>people</mat-icon>
    <!-- <span class="material-icons" style="color: rgb(255, 255, 255);">directions_car</span> -->
</mat-toolbar>

<div class="content">
  <div class="form-container mat-elevation-z5">
      <h1 >Login</h1>
      <form [formGroup] = "loginForm">
          <mat-form-field>
              <input matInput placeholder="Customer ID" formControlName = "email"/>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Password" formControlName = "password" type = "password"/>
          </mat-form-field>
          <div class="center margin-top" >
              <button mat-raised-button color="primary"  (click)="log()">Login</button>
              
          </div>
          
          <!-- <span class="center margin-top"> New to our platform? 
              <a class="sign-up-link" routerLink = "sign-up">Sign Up!</a>
          </span> -->
      </form>
  </div>
</div>