    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">
      <head>
        <meta charset="UTF-8">
        <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
       </head>
    <body>
      <div class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i> -->
          <span class="logo_name">Employee Portal</span>
        </div>
          <ul class="nav-links">
            <li>
                <a routerLink="/employee-profile">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Profile</span>
              </a>
            </li>
            <li>
              <a routerLink="/employee-payslip">
                <i class='bx bx-box' ></i>
                <span class="links_name">PaySlip Details</span>
              </a>
            </li>
            <li>
              <a href="/employee-leave" routerLinkActive="list-item-active" class="active">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Leave</span>
              </a>
            </li>
            <li class="log_out">
              <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
              </a>
            </li>
          </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <!-- <i class='bx bx-menu sidebarBtn'></i> -->
            <span class="dashboard">Leave Details</span>
          </div>
          <!-- <div class="profile-details">
            <img src="images/profile.jpg" alt="">
            <span class="admin_name"></span>
             <i class='bx bx-chevron-down' ></i>
          </div> -->
        </nav>
    
        <div class="home-content">
            <table class="container">
                <thead>
                <tr>
                    <th><h1>Employee No.</h1></th>
                    <th><h1>Start Date</h1></th>
                    <th><h1>End Date</h1></th>
                    <th><h1>Absence Type</h1></th>
                    <th><h1>Description</h1></th>
                    <th><h1>Absence Days</h1></th>
                    <th><h1>Absence Hours</h1></th>
                
                </tr>
                </thead>
                <tr *ngFor = "let obj of data">
                <td>{{obj.EMPLOYEENO}}</td>
                <td>{{obj.VALIDBEGIN}}</td>
                <td>{{obj.VALIDEND}}</td>
                <td>{{obj.ABSENCETYPE}}</td>
                <td>{{obj.NAMEOFABSENCETYPE}}</td>
                <td>{{obj.ABSENCEDAYS}}</td>
                <td>{{obj.ABSENCEHOURS}}</td>
                </tr>
                
                </table>           
                
          </div>

      </section>
    
      <script>
       let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
      if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
     </script>
    
    </body>
    </html>
    
    